<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>res</string>
    
    <key>uuid</key>
    <string>1f226b4b-948d-4fe2-9c8b-86c0b74eaa24</string>
</dict>
</plist>